<div class="form-box">
    <form id='book' method="POST" action="/books" enctype="multipart/form-data">
        
        <input type="text" placeholder="book name" name="bookname">
        <input type="text" placeholder="price" name="price">
        <input type="text" placeholder="category" name="category">
        <input type="file" class="input-cover"  name="cover"> 
        <button class="save" >save</button> 
    </form>
    </div> 