<form id='contact'method="POST" action="/contact/verify"  >
    <input type="text" class="input" placeholder="otp" name="otp" required><br>
    
    <button class="btn" >verify otp</button>

    </form>