<form method="POST" action="/contact/reset"  >
    
    <input type="password" class="input" placeholder="Password" name='password' required><br>
    <input type="password" class="input" placeholder="Password" name='password1' required><br>
   
    <button class="btn" >change password</button>

    </form>